KEYCLOAK_VERSION=26.7.5

KC_DOMAIN=auth.votre-entreprise.mr

# Admin initial (temporaire)
KC_BOOTSTRAP_ADMIN_USERNAME=initial-admin
KC_BOOTSTRAP_ADMIN_PASSWORD=changez-moi-/-avec-openssl-rand

# Base de données Keycloak
KC_DB_NAME=keycloak
KC_DB_USER=keycloak
KC_DB_PASSWORD=changez-moi-/-avec-openssl-rand

# Exemple : IP publique du bureau + plage VPN
ADMIN_ALLOWED_IPS=203.0.113.10/32 10.8.0.0/24
